.about-text {
    font-size: 18px;
    font-family: 'JetBrainsMono', system-ui;
    line-height: 1.5;
    white-space: nowrap;
    overflow-x: hidden;
    margin: 0 24px;
    a {
        text-decoration: none;
    }
    div {
        margin-bottom: 6px;
    }
}

.about-text.short {
    font-size: 14px;
}

.about-license-scrollbox {
    position: absolute;
    top: 160px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    padding: 20px;
    color: white;
    overflow-y: auto;
    overflow-wrap: break-word;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: black;
}

.about-license-scrollbox.short {
    top: 130px;
    left: 10px;
    right: 10px;
    bottom: 10px;
}

.license {
    font-family: 'JetBrainsMono', serif;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.4;
    white-space: pre-wrap;
    word-wrap: break-word;
    text-align: left;
}

.license.short {
    font-size: 10px;
}