* {
  -webkit-user-select: none;
  user-select: none;
}

html {
  overflow-y: auto;
  overflow-x: hidden;
  font-family: "Helvetica", "Arial", sans-serif;
  background-color: #faffff;
}

body {
  margin: 0;
}

img {
  pointer-events: none;
}

#main {
  display: flex;
  min-height: 100vh;
}

#content {
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 20px;
}

.card {
  min-width: 300px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  padding: 10px;
  transition: transform 0.3s;
}

.card-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 15px;
  margin-left: 10px;
  margin-top: 5px;
}

.on {
  background-color: #dbdbdb;
  font-weight: bold;
}

@media (max-width: 768px) {
  #main {
    display: flex;
    flex-direction: column;
  }
  .card {
    min-width: 250px;
  }
}
