.card:hover {
  transform: scale(1.01);
}

#content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  grid-template-areas:
    "network software"
    "adapters adapters";
  gap: 20px;
  align-content: start;
}

.card.network:nth-child(1) {
  grid-area: network;
  height: 190px;
}

.card.software:nth-child(2) {
  grid-area: software;
  height: 190px;
}

.card.adapters {
  grid-area: adapters;
  height: auto;
}

.card-content {
  margin-left: 5px;
  display: flex;
  overflow-x: auto;
  flex-direction: column;
  div {
    margin-bottom: 10px;
    span {
      margin-left: 10px;
    }
  }
}

#adapter-info {
  div {
    display: flex;
    flex-direction: column;
    width: calc(100% - 40px);
    margin-bottom: 5px;
    span {
      margin-top: 5px;
      margin-bottom: 5px;
    }
  }
}

@media (max-width: 991px) {
  #content {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas:
      "network"
      "software"
      "adapters";
    gap: 20px;
    align-content: start;
  }
}

@media (max-width: 768px) {
  #content {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas:
      "network"
      "software"
      "adapters";
    gap: 20px;
    align-content: start;
  }

  .card.network:nth-child(1) {
    grid-area: network;
    height: 165px;
  }

  .card.software:nth-child(2) {
    grid-area: software;
    height: 165px;
  }

  .card-title {
    font-size: 16px;
  }

  .card-content {
    font-size: 14px;
  }
}
