.log-scrollbox {
    position: absolute;
    top: 70px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    width: auto;
    height: auto;
    padding: 20px;
    color: white;
    overflow-y: auto;
    overflow-wrap: break-word;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: black;
}

.log-scrollbox.short {
    top: 50px;
    left: 10px;
    right: 10px;
    bottom: 10px;
}

.logs {
    font-family: 'JetBrainsMono', serif;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.4;
    white-space: pre-wrap;
    word-wrap: break-word;
}

.logs.short {
    font-size: 10px;
}