.switch-container {
    display: flex;
    align-items: center;
}

.switch-border {
    border: solid 1px #E4E4E4;
    margin-right: 10px;
    width: 55px;
    height: 30px;
    border-radius: 60px;
    transition: all 0.2s ease-in-out;
}

.switch-border.switchon {
    background-color: #3A50FE;
}

.switch-circle {
    background-color: white;
    border-radius: 50%;
    width: 29px;
    height: 29px;
    border: solid 1px #E4E4E4;
    transition: all 0.2s ease-in-out;
}

.switch-circle.switchon {
    transform: translateX(25px);
}

.switch-text {
    font-size: 18px;
    font-weight: normal;
    margin-right: 10px;
}

.log-scrollbox {
    position: absolute;
    top: 70px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    width: auto;
    height: auto;
    padding: 20px;
    color: white;
    overflow-y: auto;
    overflow-wrap: break-word;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: black;
}

.log-scrollbox.short {
    top: 50px;
    left: 10px;
    right: 10px;
    bottom: 10px;
}

.logs {
    -webkit-user-select: text;
    user-select: text;
    font-family: 'JetBrainsMono', serif;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.4;
    white-space: pre-wrap;
    word-wrap: break-word;
}

.logs.short {
    font-size: 10px;
}