#content {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  align-content: start;
}

.card {
  display: flex;
  flex-direction: column;
}

#log-scrollbox {
  flex: 1;
  padding-left: 20px;
  padding-top: 18px;
  color: white;
  overflow-y: auto;
  overflow-wrap: break-word;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: black;
}

#log {
  -webkit-user-select: text;
  user-select: text;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.4;
  white-space: pre-wrap;
  word-wrap: break-word;
}

@media (max-width: 768px) {
  #log-scrollbox {
    padding-left: 15px;
    padding-top: 14px;
  }
  #log {
    font-size: 12px;
  }
}
