.form-group {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.form-group label { 
    width: 100px;
    font-size: 20px;
    text-align: 30px;
}

.form-group input {
    height: 30px;
    width: 160px;
    font-size: 16px;
}