.sidebar {
    width: 250px;
    height: 100vh;
    background-color: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    hr {
        width: 180px;
        border-color: rgba(0, 0, 0, 0.1);
    }
}

.sidebar.short {
    width: 100vw;
    height: 50px;
    background-color: white;
    display: flex;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    hr.short {
        display: none;
    }
}

.sidebar-logo {
    display: flex;
    width: 250px;
    height: 60px;
}

.sidebar-logo.short {
    display: flex;
    width: 170px;
    height: 50px;
}

.sidebar-text {
    margin: 17px auto;
    line-height: 30px;
    font-size: 30px;
    font-weight: bold;
}

.sidebar-text.short {
    margin: 10px auto;
    line-height: 30px;
    font-size: 20px;
    font-weight: bold;
}

.short-switch {
    display: none;
}

.short-switch.short {
    display: block;
    margin-left: auto;
    width: 50px;
    height: 50px;
    border-left: 2px solid rgba(0, 0, 0, 0.1);
    transition: all 0.2s ease;
}

.short-switch.short:active {
    background-color: #DBDBDB;
}

.short-switch-icon.short {
    width: 35px;
    height: 35px;
    margin: 8px;
}

.sidebar-navs {
    display: flex;
    flex-direction: column;
    .nav {
        width: 230px;
        margin: 0 auto;
        font-size: 20px;
        line-height: 60px;
        font-family: 'JetBrainsMono', system-ui;
        text-align: left;
        transition: background-color 0.5s ease;
        border-radius: 20px;
        display: flex;
    }
    .nav:hover {
        background-color: #DBDBDB;
        cursor: pointer;
    }
}

.sidebar-navs.short {
    display: flex;
    background-color: white;
    flex-direction: column;
    position: absolute;
    right: 0;
    height: 0;
    overflow: hidden;
    z-index: 3000;
    top: 50px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    transition: all 0.2s ease;
    .nav.short {
        width: 150px;
        margin: 0 auto;
        font-size: 14px;
        line-height: 50px;
        font-family: 'JetBrainsMono', system-ui;
        text-align: left;
        transition: background-color 0.5s ease;
        border-radius: 0;
        display: flex;
    }
    .nav.short.on {
        background-color: white;
        font-weight: normal;
    }
    .nav.short:active {
        background-color: #DBDBDB;
    }
    .nav.short:hover {
        background-color: #DBDBDB;
        cursor: default;
    }
}

.nav-icon {
    width: 30px;
    height: 30px;
    margin: auto 15px auto 20px;
}

.nav-icon.short {
    width: 20px;
    height: 20px;
    margin: auto 10px auto 15px;
}

.sidebar-navs.short.active {
    height: 200px;
}