body {
    margin: 0;
    background-color: #FAFFFF;
}

.main {
    display: flex;
}

.content-container {
    position: relative;
    width: 100%;
    height: 100vh;
    z-index: 300;
}

.title {
    width: 255px;
    display: flex;
    font-size: 24px;
    font-weight: bold;
    margin: 20px 20px;
}

.title-text {
    font-family: "JetBrains Mono", system-ui;
    margin: auto 5px;
}

.on {
    background-color: #DBDBDB;
    font-weight: bold;
}

.blueblock {
    background-color: #00C6FF;
    width: 6px;
    height: 20px;
    border-radius: 2px;
    margin: auto 5px;
}
