.homepage-content {
    width: 87%;
    height: 87%;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    position: absolute;
    opacity: 0;
    visibility: hidden;
    z-index: 400;
    transition: all 0.3s ease;
}

.homepage-content.active {
    opacity: 1;
    visibility: visible;
    z-index: 400;
}