.about-content {
    width: 87%;
    height: 87%;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    position: absolute;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
    z-index: 100;
}

.about-content.active {
    opacity: 1;
    visibility: visible;
    z-index: 100;
}

.about-text {
    font-size: 18px;
    font-family: 'JetBrainsMono', system-ui;
    line-height: 1.5;
    white-space: nowrap;
    overflow-x: hidden;
    margin: 0 24px;
}

.about-text a {
    text-decoration: none;
    color: black;
}

.about-license-scrollbox {
    position: absolute;
    top: 160px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    width: auto;
    height: auto;
    padding: 20px;
    color: white;
    overflow-y: auto;
    overflow-wrap: break-word;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: black;
}

.license {
    font-family: 'JetBrainsMono', serif;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.4;
    white-space: pre-wrap;
    word-wrap: break-word;
}
