@font-face {
    font-family: 'JetBrainsMono';
    src: url(../font/JetBrainsMono-Bold.woff2);
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'JetBrainsMono';
    src: url(../font/JetBrainsMono-Regular.woff2);
    font-weight: normal;
    font-style: normal;
}