.log-content {
    width: 1325px;
    height: 860px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.log-title {
    width: 100px;
    display: flex;
    font-size: 24px;
    font-weight: bold;
    margin: 10px 10px;
}

.log-title-text {
    font-family: "JetBrains Mono", system-ui;
    margin: auto 5px;
}

.log-scrollbox {
    width: 1250px;
    height: 750px;
    margin: 0 15px;
    padding: 20px;
    color: white;
    overflow-y: scroll;
    overflow-wrap: break-word;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: black;
}

.logs {
    font-family: 'JetBrainsMono', serif;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.4;
    white-space: pre-wrap;
    word-wrap: break-word;
}