.sidebar {
    width: 250px;
    height: 100vh;
    background-color: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.sidebar a {
    text-decoration: none;
    color: black;
}

.sidebar hr {
    width: 180px;
    border-color: rgba(0, 0, 0, 0.1);
}

.sidebar-sec {
    width: 250px;
    margin: 0 auto;
}

.sidebar-logo {
    display: flex;
    width: 250px;
    height: 70px;
    cursor: pointer;
}

.sidebar-text {
    margin: 25px auto;
    line-height: 30px;
    font-size: 30px;
    font-family: 'JetBrains Mono', system-ui;
    font-weight: bold;
}

.sidebar-navs {
    display: flex;
    flex-direction: column;
}

.sidebar-navs .nav {
    width: 230px;
    margin: 0 auto;
    font-size: 20px;
    line-height: 60px;
    font-family: 'JetBrains Mono', system-ui;
    text-align: left;
    transition: background-color 0.5s ease;
    border-radius: 20px;
    display: flex;
}

.sidebar-navs .nav:hover {
    background-color: #DBDBDB;
    cursor: pointer;
}

.nav-icon { 
    width: 30px;
    height: 30px;
    margin: auto 15px auto 20px;
}